@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
:root {
  --primaryColler: #ff5a3c;
  --priCollHover: #cb3421;
  --white: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.displayNone {
  display: none !important;
}
/* this is header section  */
.header-top-area {
  background: #0b2c3d;
  min-height: 40px;
}
.header-top-left {
  display: flex;
  height: 40px;
  align-items: center;
}
/* CB3421 */
.header-top-left li a {
  color: #fff;
}

.header-top-right li a i {
  font-size: 1.1rem;
  color: var(--white);
}
.header-top-btn {
  background: var(--primaryColler);
  height: 40px;
  min-width: 130px;
  display: flex;
  line-height: 40px;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
header-top-btn:hover {
  background: var(--priCollHover);
}
.header-top-btn a {
  color: var(--white);
}

/* this is nav section  */
.menu {
  background-color: #dd8f8f;
}
/* maga dropdown css  */
.dropdown-menu.shadow.m-auto.show {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  right: -100px;
}
.hamburger span {
  color: #fff;
}
.header-top-right {
  align-items: center;
}

/* ---------------- */

.header-serch input {
  width: 14rem;
  height: 2.5rem;
  border: 1px solid #ff5a3c;
  border-radius: 5px;
}
.header-serch {
  background: #ece2e2;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  position: relative;
}

.header-serch i {
  position: absolute;
  right: 33px;
  top: 35%;
}

.hamburger i {
  color: black;
}
.nav-item a {
  color: #0b2c3d;
}

/* nav serch icon  */
.header-serch-icone i,
.user-menu a,
.shopping-cart-icon a {
  background: #fdf4f4;
  color: gray;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.1s ease;
  min-width: 55px;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  display: block;
}
.header-serch-icone i:hover,
.user-menu a:hover,
.shopping-cart-icon a:hover {
  background: #ff5a3c;
  color: #fff;
}
.header-serch-form {
  position: absolute;
  top: 5rem;
  right: 2rem;
}
.header-search-wrap {
  position: relative;
}
/* shopping-cart-icon  */

.shopping-cart-icon .card-count {
  position: absolute;
  top: 5px;
  right: 5px;
  color: gray;
}

.shopping-cart-icon:hover a .card-count {
  color: #fff;
}

/* header user menu  */
.user-menu-padding {
  padding: 0;
  color: gray;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -8rem;
  margin-top: 0.125rem;
}

.nav-link.dropdown-toggle.user-menu-padding:focus {
  color: gray;
}

.nav-link.dropdown-toggle.user-menu-padding.show:active {
  color: white;
  background-color: var(--primaryColler);
}
.nav-link.dropdown-toggle.user-menu-padding.show:focus {
  color: #fff;
  background: var(--priCollHover);
}
